body {
    padding: 65px;
    background-color: #f8f8f8;
}

.cardContainer {
  width: 90%;
}

.card {
  background-color:#efefef;
  border: 1px solid black;
  height:75px;
  width: 225px;
  margin-bottom: 20px;
}

.cardHeader {
  background-color: #0AAAFA;
  font-size:14pt;
  padding:5px;
}

.cardBody {
  padding-left: 5px;
  padding-bottom: 5px;
}
